{% extends 'base.html' %} 
{% block nav %}
{% endblock nav %} 
{% block conteudo %}

<form method="POST">
    {% csrf_token %}
    <div class="row">
        <h6 class="center">Time 1</h6>
        <hr>
        <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">person</i>
            <input id="Jogador1" maxlength="255" name="Jogador[]" type="text" required/>
            <label>Jogador 1:</label>
        </div>
        <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">person</i>
            <input id="Jogador2" maxlength="255" name="Jogador[]" type="text" required />
            <label>Jogador 2:</label>
        </div>
        <h6 class="center">Time 2</h6>
        <hr>
        <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">person</i>
            <input id="Jogador3" maxlength="255" name="Jogador[]" type="text" required/>
            <label>Jogador 1:</label>
        </div>
        <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">person</i>
            <input id="Jogador4" maxlength="255" name="Jogador[]" type="text" required/>
            <label>Jogador 2:</label>
        </div>
    </div>
    <div class="center">
        <button class="btn waves-effect waves-light blue-grey darken-1" type="submit" name="action">Enviar
            <i class="material-icons right">send</i>
        </button>
    </div>
</form>

<script>

</script>

{% endblock %}