{% extends 'base.html' %} 
{% block conteudo %}

<form method="POST" id="form">
    {% csrf_token %}
    {%for equipe in listEquipes%}
        <div class="row">
            <h5 class="center">{{equipe.Nome}}</h5>
            <hr>
            <div class="input-field col s12 m4 l4">
                <i class="material-icons prefix">style</i>
                <input id="id_ptsCanastra" maxlength="255" name="PtsCanastra[]" type="number" required/>
                <label>Total de pontos de canastra:</label>
            </div>
            <div class="input-field col s12 m4 l4">
                <i class="material-icons prefix">style</i>
                <input id="id_QtdCartas" maxlength="255" name="QtdCartas[]" type="number" required/>
                <label>Quantidade de cartas na mesa:</label>
            </div>
            <div class="input-field col s12 m4 l4">
                <i class="material-icons prefix">style</i>
                <input id="id_QtdRed" maxlength="255" name="QtdRed[]" type="number" required/>
                <label>Quantidade de 3 vermelhos:</label>
            </div>
            <div class="input-field col s12 m4 l4">
                <i class="material-icons prefix">style</i>
                <input id="id_QtdBlack" maxlength="255" name="QtdBlack[]" type="number" required/>
                <label>Quantidade de 3 Pretos:</label>
            </div>
            <div class="input-field col s12 m4 l4">
                <select name="Morto[]" required>
                  <option value="" disabled selected>Teve morto?</option>
                  <option value="True">sim</option>
                  <option value="False">não</option>
                </select>
              </div>
            
        </div>
    {%endfor%}
    <div class="center">
        <button class=" btn waves-effect waves-light blue-grey darken-1" type="submit" name="action">Enviar
            <i class="material-icons right">send</i>
        </button>
    </div>
</form>

{% endblock %}