{% extends 'base.html' %} 
{% block conteudo %}

<div class="row container">
    {%for rodada in ListRodada%}
    <div class="col s12 m4">
        <div class="card grey lighten-5 carde">
            <div class="card-content black-text">
            <span class="card-title center">{{rodada.Equipe}}</span>
                <p>Pontuação de canastra: {{rodada.PontosCanastra}}</p>
                <p>Quantidade de Cartas: {{rodada.QtdCartas}}</p>
                <p>3 vermelho: {{rodada.QtdRed}}</p>
                <p>3 preto: {{rodada.QtdBlack}}</p>
                <p>Pontuação total: {{rodada.TotalPontos}}</p>
                <p>Data da partida: {{rodada.DataCadastro}}</p>
            </div>
        </div>
    </div>
    {%endfor%}
</div>





<script>
</script>

{% endblock %}