{% extends 'base.html' %} 
{% block conteudo %}

    <div class="container">
        <div class="row">
            {% if ListPartidasRodadas %}
                {%for partidas in ListPartidasRodadas %}
                    <div class="col s12 m4 l4 topo">
                        <div class="card white borda">
                            <div class="card-content black-text">
                                <h4 class="center">{{ forloop.counter }}º Partida</h4>
                                {%if partidas.ObjPartida.Fim %}
                                    <h6 class="center black-text ">Equipe Vencedora: </h6> 
                                    <p class="center">{{partidas.ObjPartida.Vencedora}}</p>    
                                    <h6 class="center black-text ">Quantidade de rodadas: </h6> 
                                    <p class="center">{{partidas.QtdRodadas}}</p>    
                                {%else%}
                                    <h6 class="center">Aguardando fim da partida</h6>
                                {%endif%}
                            </div>
                            <div class="card-action">
                                <a class="red-text" href="{% url 'Info_rodada' partidas.ObjPartida.id objJogo.id %}"> <i class="material-icons right">info</i></a>
                            </div>
                        </div>
                    </div>
                {%endfor%}
            {% else %}
                <div class="card-panel white-text red darken-2"><i class="material-icons">assignment_late</i>Ainda não constam partidas que foram jogadas!</div>            
            {% endif %}
        </div>
    </div>





{% endblock %}